@use 'variables';


.contenedorPrincipal1-1{
    @include variables.centrarContenedor;
    @media(max-width:820px){
        width: 100%;
    }
    .section1-1{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 1.7em;
        color: variables.$color3;
        :nth-child(2){
            padding: .3em;
            border-radius:50%;
            background-color: variables.$color3;
            color: variables.$color6;
        }
    }
    .section1-2{
        width: 80%;
        margin: 0 auto;
        h3{
            margin: 0;
        }
        p{
            font-size: 1em;
            color: variables.$color7;
            margin: 0;
        }
        .buscador{
            display: flex;
            padding: 1em 0;
            justify-content: center;
            input{
                width: 80%;
                border-radius: 2em;
                @include variables.sombraContenedor;
                padding: 1em;
            }
            button{
                padding:.5em .7em;
                border-radius: 50%;
                border: none;
                background-color: variables.$color2;
                color:variables.$color6;
                font-size: 1.5em;
                @include variables.sombraContenedor;
                cursor: pointer;
            }
        }
    }
    .section1-3{
        width: 90%;
        height: max-content;
        // border: 1px solid red;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        .sectionSlider{
            @include variables.sombraContenedor;;
            width: 90%;
            height: 100px;
            margin: 10px auto;
            display: flex;
            justify-content: left;
            align-items: center;
            overflow-x: auto;
            ::-webkit-scrollbar{
                visibility: hidden;
            }
            .cards{
                text-decoration: none;
                display: flex;
                width: max-content;
                height: max-content;
                position: relative;
                left: 0;
                text-align: center;
                align-items: center;
                font-size: 1em;
                margin: 10px 20px;
                color: variables.$color5;
                border-radius: 1em;
                transition: .5s;
                padding: 0 .5em;
                @include variables.sombraContenedor;
                p{
                    margin-left: 1.2em;
                }
                i{
                    font-size: 1.5em;
                    background-color: variables.$color3;
                    color:variables.$color6;
                    border-radius: 50%;
                    padding: .2em;
                    
                }
            }
        }
    }
    .section1-4{
        margin-bottom: 5em;
        h2{
            width: 80%;
            margin: 0 auto;
            padding: 1em 0;
        }
        .cardRecommended{
            width: 80%;
            margin: 0 auto;
            border-radius: 1.5em;
            padding: .5em;
            margin-bottom: 2em;
            @include variables.sombraContenedor;
            .infoRecommended{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                @media(max-width:680px){
                    font-size: .6em;
                }
                .info1{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 50%;
                    span{
                        cursor: pointer;
                        background-color: variables.$color2;
                        color: variables.$color6;
                        border-radius: 50%;
                        padding: .2em .5em;
                        font-size: 1.5em;
                        margin: 0 1em;
                    }
                    h5{
                        font-size: 1.2em;
                    }
                    p{
                        font-size: .9em;
                    }
                }
                a{
                    border: none;
                    background-color: variables.$color2;
                    color: variables.$color6;
                    border-radius: 50%;
                    padding: .2em .5em;
                    font-size: 1.5em;
                    margin: 0 1em;
                    cursor: pointer;
                    :active{
                        color: variables.$color3;
                    }
                }
            }
            .detalleRecommended{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                border-radius:1em;
                
                .imgRecommended{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 70%;
                    background-color: variables.$color1;
                    border-radius:1em;
                    padding: 1em;
                    .contenedorImgd{
                        overflow: hidden;
                        width: 20em;
                        height: 20em;
                        border-radius: 50%;
                        cursor: pointer;
                        @media(max-width:820px) {
                            width: 15em;
                            height: 15em;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    @media(max-width:820px) {
                        width: 100%;
                    }
                }
                .detalles1{
                    justify-content:space-between;
                    @media(max-width:820px) {
                        width: 100%;
                        display: flex;
                    }
                    div{
                        margin: 0 auto;
                        margin: 2em;
                        width: 3em;
                        
                        // flex-wrap: wrap;
                        padding: .7em 1.5em;
                        border: 1px solid rgb(28, 56, 133);
                        border-radius: 1.8em;
                        @media(max-width:820px) {
                            width: 15%;
                            margin: 0em;
                        }
                    }
                }

            }
            
        }
        
    }
    .footer{
        width: 90%;
        height: 70px;
        display: flex;
        position: fixed;
        bottom: 0; 
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
        // margin: .5em 0 0 0;
        color: variables.$color2;
        background-color: variables.$color5;
        border-radius: 1em 1em 0 0;
        @media(max-width:820px) {
            width: 100%;
            margin: 0em;
        }
        :nth-child(3){
            background-color:variables.$color2;
            color: variables.$color5;
            padding: .7em;
            border-radius: 0 0 40% 40%;
            :hover{
                padding: 0;
                transform: scale(1.5);
            }
        }
        a{
            color: variables.$color2;
            cursor: pointer;
            :hover{
                color: variables.$color5;
                padding: .5em;
                border-radius: 50%;
                background-color:variables.$color2;
            }
        }
    }
}
































